@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: "Poppins", system-ui, sans-serif;
  color: #13151a;
  scroll-behavior: smooth;
}
.hero-inicio {
  height: 470px;
}
.hr-div {
  height: 1px;
  width: 100%;
}
#desc-label,
#price-label {
  color: white;
}
.css-xoxfz9 {
  margin-bottom: 5px;
}

.lite-youtube-fallback {
  aspect-ratio: 16 / 9; /* matches YouTube player */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

/* right-facing triangle "Play" icon */
.lite-youtube-fallback::before {
  display: block;
  content: "";
  border: solid transparent;
  border-width: 2em 0 2em 3em;
  border-left-color: red;
}

.lite-youtube-fallback:hover::before {
  border-left-color: #fff;
}

.lite-youtube-fallback:focus {
  outline: 2px solid red;
}
.menu-bar {
  position: relative;
  display: flex;
  width: 32px;
  height: 27px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.menu-bar span:nth-child(1) {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2px;
  background-color: #666;
  display: block;
}
.menu-bar span:nth-child(2) {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 2px;
  background-color: #666;
  display: block;
}
.menu-bar span:nth-child(3) {
  position: absolute;
  width: 100%;
  top: 20px;
  height: 2px;
  background-color: #666;
  display: block;
}
.submenu {
  background-color: #eebbbb;
}
.item-hero-inicio {
  position: absolute;
  top: 40px;
}
h1 {
  padding-right: 60px;
}
.phrase {
  padding-right: 70px;
  line-height: 20px;
}
.text-inicio {
  padding-right: 100px;
}
.item-agenda:hover {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}
.box-icon {
  border-radius: 50%;
}
.color-text {
  color: #af7768;
}
.color-btn {
  background-color: #af7768;
}
/*.item-history {
  background: rgb(249, 214, 213);
}*/
.container-benefits,
#testimonios {
  background: rgb(249, 214, 213);
  background: linear-gradient(
    63deg,
    rgba(249, 214, 213, 1) 0%,
    rgba(251, 227, 227, 1) 35%
  );
}
.footer {
  background: rgb(251, 227, 227);
  background: linear-gradient(
    180deg,
    rgba(251, 227, 227, 1) 0%,
    rgba(249, 214, 213, 1) 37%,
    rgba(246, 200, 199, 0.9920343137254902) 57%
  );
}
.color-contacto {
  background: rgb(215, 165, 165);
  background: linear-gradient(
    180deg,
    rgba(215, 165, 165, 1) 0%,
    rgba(204, 155, 154, 1) 61%,
    rgba(193, 144, 144, 1) 82%
  );
  border-radius: 10px;
}
.swiper-pagination {
  position: relative;
}
.container-galery {
  display: grid;
  grid-gap: 7px;
  grid-template-areas:
    "Foto1 Foto4"
    "Foto1 Foto5"
    "Foto6 Foto2"
    "Foto7 Foto2"
    "Foto3 Foto8"
    "Foto3 Foto9";
}

.item-galery:nth-child(1) {
  grid-area: Foto1;
}
.item-galery:nth-child(2) {
  grid-area: Foto2;
}
.item-galery:nth-child(3) {
  grid-area: Foto3;
}
.item-galery:nth-child(4) {
  grid-area: Foto4;
}
.item-galery:nth-child(5) {
  grid-area: Foto5;
}
.item-galery:nth-child(6) {
  grid-area: Foto6;
}
.item-galery:nth-child(7) {
  grid-area: Foto7;
}
.item-galery:nth-child(8) {
  grid-area: Foto8;
}
.item-galery:nth-child(9) {
  grid-area: Foto9;
}
.container-call-to-action {
  border-radius: 10px;
  box-shadow: 12px 11px 5px -5px rgba(193, 144, 144, 0.57);
}
.video-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.st-video-animation {
  position: absolute;
  top: 0;
  width: 92px;
  height: 91px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  border-radius: 50%;
  animation: st-video-animation 2s linear infinite;
  box-shadow: 0 0 0 11px rgba(255, 255, 255, 0.7);
}
.st-video-animation span {
  position: absolute;
  top: 0;
  width: 92px;
  height: 91px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  border-radius: 50%;
  animation: st-video-animation 2s linear infinite;
  box-shadow: 0 0 0 11px rgba(255, 255, 255, 0.7);
}

@keyframes st-video-animation {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  25% {
    transform: scale(1);
    opacity: 0.75;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.linea {
  position: absolute;
  left: 0%;
  width: 3px;
  height: 570px;
  animation: linea 2s linear 2;
}
@keyframes linea {
  0% {
    height: 0;
    opacity: 0;
  }
  25% {
    height: 250px;
    opacity: 0.75;
  }

  100% {
    height: 570px;
    opacity: 1;
  }
}
.respuesta {
  font-size: 13px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.efecto {
  height: auto;
  max-height: 300px;
  transition: max-height 0.5s ease;
}
.respuesta2 {
  font-size: 13px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.efecto2 {
  height: auto;
  max-height: 720px;
  transition: max-height 0.5s ease;
}

@media (min-width: 375px) {
  .item-hero-inicio {
    position: absolute;
    top: 50px;
  }
  h1 {
    padding-right: 105px;
  }
  .phrase {
    padding-right: 100px;
    line-height: 20px;
  }
  .text-inicio {
    padding-right: 115px;
  }
}
@media (min-width: 381px) {
  .item-hero-inicio {
    position: absolute;
    top: 50px;
  }
  h1 {
    padding-right: 105px;
  }
  .phrase {
    padding-right: 118px;
    line-height: 20px;
  }
  .text-inicio {
    padding-right: 150px;
  }
}
@media (min-width: 401px) {
  .phrase {
    padding-right: 128px;
    line-height: 20px;
  }
}
@media (min-width: 411px) {
  h1 {
    padding-right: 115px;
  }
  .phrase {
    padding-right: 138px;
    line-height: 20px;
  }
  .text-inicio {
    padding-right: 150px;
  }
}
@media (min-width: 767px) {
  .item-hero-inicio {
    position: relative;
    margin-top: -80px;
  }
  h1 {
    padding-right: 0px;
  }
  .text-inicio {
    padding-right: 0px;
    font-size: 16px;
  }
  .hero-inicio {
    height: 700px;
  }
  .imgCall {
    max-width: 100%;
    height: 400px;
  }
  .container-call-to-action {
    border-radius: 10px;

    box-shadow: 12px 11px 5px -5px rgba(193, 144, 144, 0.57);
  }
  #zoid-paypal-buttons-uid_69c4129051_mda6mda6ndy {
    width: 250px !important;
  }
  .css-xoxfz9 {
    margin-bottom: 5px !important;
  }
  .container-galery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .item-galery:nth-child(1) {
    grid-column: 1/2;
  }
  .item-galery:nth-child(2) {
    grid-column: 3/4;
    grid-row: 3/5;
  }
  .item-galery:nth-child(3) {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .item-galery:nth-child(4) {
    grid-column: 2/3;
  }
  .item-galery:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .item-galery:nth-child(6) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item-galery:nth-child(7) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .item-galery:nth-child(8) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item-galery:nth-child(9) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .container-video {
    border-radius: 50% 7px 50% 50% !important;
    box-shadow: 7px 2px 7px rgba(0, 0, 0, 0.2);
  }
  .linea {
    left: 50%;
    height: 400px;
    animation: linea 2s linear 2;
  }
  @keyframes linea {
    0% {
      height: 0;
      opacity: 0;
    }
    25% {
      height: 150px;
      opacity: 0.75;
    }

    100% {
      height: 400px;
      opacity: 1;
    }
  }
  .respuesta2 {
    max-height: 1000px;
    overflow: visible;
    transition: max-height 0.5s ease;
  }
  
}
@media (min-width: 1400px) {
  .hero-inicio {
    height: 920px;
  }
  .item-hero-inicio {
    position: relative;
    margin-top: -140px;
  }
}
